<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" href="/">NetCoreUsuario</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</header>
<div class="container">
  <main role="main" class="pb-3">
    <div class="row">
      <div class="container-xl">
        <div class="table-responsive">
          <div class="table-wrapper">
            <div class="table-title">
              <div class="row">
                <div class="col-sm-6">
                  <h2>Administrar <b>Usuarios</b></h2>
                </div>
                <div class="col-sm-6">
                  <a href="#modalAgregarUsuario" class="btn btn-success" data-toggle="modal"><i
                      class="material-icons">&#xE147;</i> <span>Agregar Nuevo Usuario</span></a>
                </div>
              </div>
            </div>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Dirección</th>
                  <th>Perfil</th>
                  <th>Fecha Creación</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of todosLosUsuarios">
                  <td>{{usuario.nombreCompleto}}</td>
                  <td>{{usuario.direccion}}</td>
                  <td>{{usuario.perfilDescripcion}}</td>
                  <td>{{usuario.fechaCreacion}}</td>
                  <td>
                    <a href="#modalEditarEmpleado" (click)="EstablecerIdEditar(usuario.id)" class="edit" data-toggle="modal">
                      <i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i>
                    </a>
                    <a href="#modalEliminarEmpleado" (click)="EstablecerIdEliminar(usuario.id)" class="delete" data-toggle="modal">
                      <i class="material-icons" data-toggle="tooltip" title="Eliminar">&#xE872;</i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Agregar Modal HTML -->
      <div id="modalAgregarUsuario" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <form>
              <div class="modal-header">
                <h4 class="modal-title">Añadir Usuario</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" name="nombreCompleto" class="form-control" [(ngModel)]="usuario.NombreCompleto"
                    required>
                </div>
                <div class="form-group">
                  <label>Dirección</label>
                  <input type="text" name="direccion" class="form-control" [(ngModel)]="usuario.Direccion" required>
                </div>
                <div class="form-group">
                  <label>Perfil</label>
                  <select class="form-select" name="perfilGeneral" [(ngModel)]="usuario.PerfilGeneral"
                    aria-label="Perfiles del usuario a registrar" required>
                    <option selected>Seleccione el perfil del usuario</option>
                    <option *ngFor="let perfil of perfiles" [value]="perfil.id">{{perfil.perfil}}</option>
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <input type="button" id="btnCerrarAgregar" class="btn btn-default" data-dismiss="modal"
                  value="Cancelar">
                <button class="btn btn-success" (click)="AgregarUsuario()">Agregar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Editar Modal HTML -->
      <div id="modalEditarEmpleado" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <form>
              <div class="modal-header">
                <h4 class="modal-title">Editar Usuario</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control" name="nombreCompleto" [(ngModel)]="nombreCompletoEditar" required>
                </div>
                <div class="form-group">
                  <label>Dirección</label>
                  <input type="text" name="direccion" class="form-control" [(ngModel)]="direccionEditar" required>
                </div>
                <div class="form-group">
                  <label>Perfil</label>
                  <select class="form-select" name="perfilGeneral" [(ngModel)]="perfilGeneralEditar"
                    aria-label="Perfiles del usuario a registrar" required>
                    <option selected>Seleccione el perfil del usuario</option>
                    <option *ngFor="let perfil of perfiles" [value]="perfil.id">{{perfil.perfil}}</option>
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <input type="button" id="btnCerrarEditar" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                <input type="submit" class="btn btn-info" value="Actualizar" (click)="ActualizarUsuario()">
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Eliminar Modal HTML -->
      <div id="modalEliminarEmpleado" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <form>
              <div class="modal-header">
                <h4 class="modal-title">Eliminar Usuario</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <p>¿Seguro desea eliminar al usuario?</p>
                <p class="text-warning"><small>Esta acción no puede ser deshecha.</small></p>
              </div>
              <div class="modal-footer">
                <input type="button" id="btnCerrarEliminar" class="btn btn-default" data-dismiss="modal"
                  value="Cancelar">
                <input type="submit" class="btn btn-danger" (click)="EliminarUsuario()" value="Eliminar">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>