@model UsuarioVM

<div class="row">
    <div class="col-md-12">
        <h3>Nuevo Usuario</h3>
    </div>
    <br />
    <div class="col-md-12">
        <form asp-action="InsertarUsuario" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label asp-for="NombreCompleto">Nombre de Usuario</label>
                <input type="text" class="form-control" asp-for="NombreCompleto" />
                <span asp-validation-for="NombreCompleto"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion">Dirección</label>
                <input type="text" class="form-control" asp-for="Direccion" />
                <span asp-validation-for="Direccion"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerfilGeneral">Perfil General</label>
                <input type="text" class="form-control" asp-for="PerfilGeneral" />
                <span asp-validation-for="PerfilGeneral"></span>
            </div>
            <button class="btn btn-success" type="submit">Guardar</button>
        </form>
    </div>
</div>